@font-face {font-family: "iconfont";
  src:url('iconfont.ttf') format('truetype')
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before { content: "\e7e5"; }

.icon-dengluren:before { content: "\e629"; }

.icon-jiahao1:before { content: "\e613"; }

.icon-mima:before { content: "\e65b"; }

.icon-qq-copy:before { content: "\e657"; }

.icon-sanjiaoxing-up:before { content: "\e78f"; }

.icon-kehuqunzu:before { content: "\e673"; }

.icon-lianxiren:before { content: "\e675"; }

.icon-funnel:before { content: "\e6e2"; }

.icon-shezhi:before { content: "\e689"; }

.icon-arrow:before { content: "\e61b"; }

.icon-xinxi:before { content: "\e690"; }

.icon-zuzhijiagou:before { content: "\e62b"; }

.icon-weibo:before { content: "\e69c"; }

.icon-jiahao:before { content: "\e616"; }

.icon-haoyou:before { content: "\e6f1"; }

