@font-face {font-family: "iconfont";
 
  src:url('../fonts/iconfont.ttf') format('truetype')
  }

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiabanguanli:before { content: "\e62e"; }

.icon-tianjia:before { content: "\e50c"; }

.icon-riqi:before { content: "\e65d"; }

.icon-huibaojilu:before { content: "\e608"; }

.icon-chaosongwodewudi:before { content: "\e660"; }

.icon-paizhao:before { content: "\e63b"; }

.icon-neirong:before { content: "\e65e"; }

.icon-icontjzp:before { content: "\e62c"; }

.icon-yongzhang:before { content: "\e613"; }

.icon-shenpi1:before { content: "\e7cc"; }

.icon-anquan01:before { content: "\e634"; }

.icon-baoxiaoshenqing:before { content: "\e603"; }

.icon-xiangmu:before { content: "\e611"; }

.icon-lingyong:before { content: "\e729"; }

.icon-app:before { content: "\e645"; }

.icon-shangpinyeshiyongrenquntubiao:before { content: "\e646"; }

.icon-huibaoguanli:before { content: "\e606"; }

.icon-wodeshenqing:before { content: "\e69f"; }

.icon-renyuan:before { content: "\e6ba"; }

.icon-anquan:before { content: "\e66e"; }

.icon-jianchaquyu:before { content: "\e621"; }

.icon-tiaoxiu:before { content: "\e66c"; }

.icon-tongji:before { content: "\e610"; }

.icon-shenpi:before { content: "\e647"; }

.icon-xiangmuguanli:before { content: "\e68f"; }

.icon-chucha:before { content: "\e6d8"; }

.icon-bitian:before { content: "\e602"; }

.icon-dianzan:before { content: "\e69c"; }

.icon-iup:before { content: "\e600"; }

.icon-zhiliangbaoz-copy:before { content: "\e605"; }

.icon-shaixuan:before { content: "\e665"; }

.icon-up1:before { content: "\e601"; }

.icon-jiancha:before { content: "\e629"; }

.icon-mail:before { content: "\e604"; }

.icon-qingjia:before { content: "\e77f"; }

.icon-app-icon-copy:before { content: "\e614"; }

.icon-pinglun:before { content: "\e648"; }

.icon-dingbu:before { content: "\e616"; }

.icon-xiaoxi:before { content: "\e615"; }

.icon-liulan:before { content: "\e7a5"; }

.icon-accessories:before { content: "\e617"; }

